* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #191919;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawingArea {
    border: 32px solid red;
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.grid-unit {
    background-color: gold;
    width: 25%;
    height: 25%;
}