* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #191919;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


#drawingArea {
    border: 32px solid red;
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.grid-unit {
    background-color: gold;
}

#settings {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#grid-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#grid-size input {
    margin-top: 4px;
}

fieldset {
    display: flex;
}

fieldset div {
    padding: 8px 16px;
}

#drawing-options {
    padding: 8px;
}

#drawing-options input {
    margin: 0.4rem;
}

#drawing-options label {
    margin-right: 0.6rem;
}